<launch>
	<rosparam file="$(find mpc_ctrl)/config/controller_param.yaml" ns="controller" />

	<node pkg="mpc_ctrl"
		type="fixed_point_and_circle_test.py"
		name="pub_traj"
		output="screen">
	</node>

	<node pkg="mpc_ctrl"
		type="mpc_analyzer.py"
		name="record_data"
		output="screen">
	</node>
</launch>